:root {
  --color-background: #fffff8;
  --color-text: #16161d;
  --color-text-lighter: #797979;
  --color-emphasis: #e0b1cb;
  --color-emphasis-darker: maroon;
  --color-canvas: #ffffdf;
  --default-border-radius: 0.25rem;
}

section {
    padding-bottom: 50vh;
}

.emphasis {
    color: var(--color-emphasis-darker);
}

details > summary {
  cursor: pointer;
}


@font-face {
  font-family: "STIX Two Text";
  src: url('assets/STIXTwoText-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "STIX Two Text";
  src: url('assets/STIXTwoText-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "STIX Two Text";
  src: url('assets/STIXTwoText-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "STIX Two Text";
  src: url('assets/STIXTwoText-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "stixMath";
  src: url('assets/STIXTwoMath-Regular.woff2') format('woff2');
}

html {
    font-size: 133%;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "STIX Two Text", Georgia, serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

.math {
    font-family: "stixMath", serif;
}

#errors {
    white-space: pre-wrap;
    color: red;
    font-family: monospace; 	/* Parsing errors expect this… */
}

#logo {
    margin: 0.3em;
    transition-duration: 0.25s;
    max-height: 1.5em;
}

.subpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.flex {
    display: flex;
    flex-flow: column;
    align-items: center;
}

a.btn {
    display: inline-block;
}
a.btn, a.btn:hover, a.btn:link, a.btn:visited, a.btn:active {
    color: inherit;
}

button, .btn {
    border: 0;
    border-radius: var(--default-border-radius);
    background-color: var(--color-emphasis);
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}
button:focus, .btn:focus {
    outline: thin dashed var(--color-emphasis-darker);
}
button.toggled {
    box-shadow: 2px 3px var(--color-emphasis-darker) inset;
}

button.as-text {
  background: none!important;
  border: none;
  padding: 0!important;
}

select:disabled, button:disabled {
    cursor: not-allowed;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    list-style-type: none;
}
dl.horizontal-list, ol.horizontal-list, ul.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
}
dl.horizontal-list > div {
    margin: 0.5em;
}
.horizontal-list > li {
    margin: 0.5em;
}
.horizontal-list > li:first-child {
    margin-left: 0;
}
.horizontal-list > li:last-child {
    margin-right: 0;
}
.horizontal-list > li > .vertical-list {
    /* no idea where this padding comes from when listing operators
   precedences, so we remove it here */
    padding-left: 0;
}

.noDisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

input[type=text], input[type=email], input[type=password], textarea {
    border-radius: 10px;
    border: 1px solid;
    padding-left: 10px;
    margin: 0.2em;
    background-color: var(--color-canvas);
}

input[type=text], input[type=email], input[type=password] {
    width: 10em;
    height: 1.25em;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    outline: none;
    border-color: gray;
    color: gray;
}

textarea {
    display: block;
    max-width: max(45vw, 40em);
}

code {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    display: inline-block;
    font-size: .85em;
    font-weight: 600;
    line-height: 1.3;
    padding: 0.1em 0.1em;
    white-space: nowrap;
}

/* Home */

div#home-glf-description {
    line-height: 1.3;
    max-width: min(95vw, 30em);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

/* Login */

#login-button {
    margin: 1em;
}


/* Register */

input.humanCheck2 {
    /* hidden input, if filled then a bot was there */
    display: none;
}

/* User */

li.option.selected {
    font-weight: 600;
    color: unset;
}
li.option {
    color: var(--color-text-lighter);
    margin-left: 1.1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    padding: 0.2em;
}
li.option:hover {
    background-color: var(--color-emphasis);
    border-radius: 6px;
    color: unset;
}

#glfMenu {
    display: flex;
    align-items: baseline;
}

#glfMenu > #logo {
    align-self: center;
}

ul.nesting {
    visibility: hidden;
    display: flex;
    transition-duration: 0.25s;
    list-style: none;
    align-items: center;
    flex-grow: 1;
}
ul.nesting > li {
    margin-left: 1.1em;
}
ul.nesting > li:first-child {
    margin-left: 0;
}
ul.nesting > li.flex-push {
    margin-left: auto;
}

ul.nesting > li:hover,
ul.nesting > li:focus-within {
}
#glfMenu:hover > ul.nesting,
#glfMenu:focus-within > ul.nesting,
ul.nesting:hover,
ul.nesting:focus-within {
    visibility: visible;
}
#glfMenu:hover > #logo,
#glfMenu:focus-within > #logo {
    transform: rotate(90deg);

}
#glfMenu > #logo {
    margin: 0;
}

#username {
    font-weight: bold;
    padding-top: 0.4em;
    display: inline-block;
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#username:hover {
    width: auto;
    text-overflow: inherit;
}

.system-operator {
    border: solid;
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    display: inline-block;
    margin: 1em;
}

button.revertProofButton {
    padding: 0.25em 0.4em 0.05em 0.4em;
    margin: 0.1em 0 0 1em;
    font-size: 0.8em;
}

/* Forwards/Fitch */

.ruleApplication.startsSubProof::first-letter {
    text-decoration: underline;
}

/* Backwards */

select.ruleArgumentSelection {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.bold {
    font-weight: bold;
}

.bg-font {
    font-size: 120%;
}

.sm-padding {
    padding: 1em;
}

.vsm-hz-padding {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.sm-hz-padding {
    padding-left: 1em;
    padding-right: 1em;
}

a.no-link-styling {
    color: inherit;
    text-decoration: inherit;
}

span.deductionExample {
    display: block;
}

span.deduction {
    display: block;
}

.hover-red:hover {
    color: red;
    opacity: 1;
}

.role::before {
    content: "("
}
.role {
    font-style: italic;
    margin-right: 1em;
}
.role::after {
    content: ")"
}

.formula {
    margin-right: 1em;
}

div[data-kind="Goal"] > .formula {
    color: red;
}

div[data-kind="Leaf"] > .formula {
    color: green;
}

div[data-kind="Goal"] > span.ruleApplicationName {
    display: none;
}

div[data-kind="Leaf"] > span.ruleApplicationName {
    display: none;
}

div[data-kind="Goal"] > span.ruleApplicationArguments {
    display: none;
}

div[data-kind="Leaf"] > span.ruleApplicationArguments {
    display: none;
}

div[data-kind="Leaf"] > .introducedHypotheses {
    display: none;
}

li.nobullet {
    list-style: none;
}

.parentRuleApplicationName::before, .ruleApplicationName::before {
    content: "<"
}
.parentRuleApplicationName::after, .ruleApplicationName::after {
    content: ">"
}

span.objectNotation::before {
    content: "{"
}

span.objectNotation::after {
    content: "}"
}

span.pairNotation::before {
    content: attr(data-pair-key) ": ";
}

span.pairNotation:not(:last-child):after {
    content: ", ";
}

.parentRuleApplicationName, .ruleApplicationName {
    font-style: italic;
    margin-left: 1em;
}

.ruleApplicationArguments {
    color: purple;
    margin-left: 0.5em;
}

.ruleApplicationDerives {
    margin-left: 0.5em;
}

.ruleApplicationIndex::after {
    content: "."
}

.introducedHypotheses::before {
    content: "["
}
.introducedHypotheses {
    color: orange;
    margin-right: 1em;
}
.introducedHypotheses::after {
    content: "]"
}

.listNotation {
    display: inline;
    list-style: none;
}

.listNotation > li {
    display: inline;
}

.listNotation > li::after {
    content: ", ";
}

.listNotation > li:last-child:after {
    content: "";
}

div[data-kind="Goal"]:hover > .interaction {
    display: none;
}

div[data-kind="Node"]:hover > .interaction {
    display: inline;
}

span.formulaInput::before {
    content: attr(data-argumentname) ": ";
}

div.deduction[data-over="true"] .interaction {
    display: none;
}

div.deduction[data-over="true"] li.goal {
    display: none;
}

/* Tableaux */

.wait:disabled {
    cursor: wait;
}

.blink {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-iteration-count: 2;
}

@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

/* help */

#appHelp {
    border: solid black;
    border-radius: var(--default-border-radius);
    padding: 1em;
    margin: 1em;
}

#appHelp button {
    pointer-events: none;
}

#kindHelp li:not(:last-child) {
    margin-bottom: 1.15em;
}

#kindHelp li {
    list-style-type: circle;
}

dt, dd {
    margin-top: 1.15em;
}

dd:last-child {
    margin-bottom: 1.5em;
}

span.rule-line {
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid var(--color-text);
}
/* to display axioms differently */
/* .rule-premises:empty + span.rule-line { */
/*         border-top: 2px solid var(--color-text); */
/* } */

.rule-premise.sole-premise {
    align-self: flex-end;
}
.rule-premise::after {
    content: " {" attr(data-role) "}";
}
.rule-hypothesis::before {
    content: "["
}
.rule-hypothesis[data-role=""]::after {
    content: "]"
}
li.rule-hypothesis::after {
  content: " {" attr(data-role) "}]";
}
.rule-ellipsis::before {
    content: "⋮"
}
.rule-ellipsis {
    padding-bottom: 0.5em;
}

.rule-results:empty::before {
    padding-top: 0.5em;
    content: "❌"
}

.rule-premises, .rule-results {
    padding-left: 1em;
    padding-right: 1em;
}
ul.horizontal-list > li.rule-premise {
    margin-bottom: 0;
}

span.loader, .spin {
    cursor: wait;
    animation-name: loader;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    display:inline-block; /* because CSS doesn't animate <span> normally */
}

@keyframes loader {
    from {
	transform: rotate(0turn);
    }

    to {
	transform: rotate(1turn);
    }
}

/* Footer */

footer {
    font-size: 75%;
}
